*{
 font-family: sans-serif;
 padding: 0px;
 margin: 0px;
 
}
header {
    height: 40px;
    background-color: black;
    color: white;
    padding-top: 20px;
    padding-left: 15px;
    font-size: 20px;
    font-family: sans-serif;
}

#main {
    display: grid;
    grid-template-columns: 300px 900px;
    margin-top:1em;
}

#options {
    /*margin-top:1em;*/
    font-family: sans-serif;
    /*padding-top: 10px;*/
    padding-left: 20px;
    background-color: #EEE;
    color: black;
    height: 100%;
}

h1 {
    display: inline;
    padding-right: 500px;
    padding-left: 10px;
    padding-top: 3em;
}

h3 {
    padding-left: 10px;
    margin-top: 20px;
}
table{
    /*margin-left:50px;*/
    margin: 20px 10px 30px 50px;
    border-collapse:collapse;
}
table, th, td {
   border: 1px solid black;
   text-align:center;
}
th,td{
    padding: 10px;
}


#post{
    border-radius: 5px;
    height: 35px;
    width: 130px;
    background-color: limegreen;
    color: white;
    border: thin;
}
li{
    margin-top:1em;
}

