*{
    margin: 0px;
    padding: 0px;
}

#main{
    text-align: center;
    /*justify-items:center;*/
    display:flex;
    flex-direction:column;
    font-family: sans-serif;
    margin-left:5px;
    grid-row: 2;
    grid-column: 2;
    margin-top: 15px;
}

body{
    display:grid;
    grid-template-columns: 1fr 400px 1fr;
    grid-template-rows: 50px 1fr 50px;
}
#main p{
    grid-column: 2 span 1;
    text-align:left;
    margin-right: 20px;
}
form{
    padding:2em;
    
}
form input{
    margin:1em;
    width:350px ;
    height:30px;
    border-radius: 5px;
}
button{
    width: 150px;
    height: 40px;
    margin-top: 15px;
    background-color: royalblue;
    color: white;
    border: thin;
    padding-top: 3px;
    border-radius: 5px;
}
header{
    height:50px;
    color: white;
    background-color: black;
    font-family: sans-serif;
    text-align: left;
    font-size: 2em;
    padding-top: 5px;
    margin-bottom: 10px;
    grid-column: 1 /4;
    grid-row: 1;
}
#results{
    grid-row: 3;
    grid-column: 1/ 4;
}
